@model IEnumerable<Banner>
@using X.PagedList
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Banner List";
}

<div class="row">
    <h1 class="text-center">Banner List</h1>
    <div class="col-md-15 offset-md-0">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(m => m.image)</th>
                    <th>
                        @Html.ActionLink(
                            @Html.DisplayNameFor(m => m.Name),
                            "Index",
                            new { sortOn = "Name", orderBy = ViewBag.OrderBy, pSortOn = ViewBag.SortOn }
                        )
                    </th>
                    <th>
                        @Html.ActionLink(
                            @Html.DisplayNameFor(m => m.Description),
                            "Index",
                            new { sortOn = "Description", orderBy = ViewBag.OrderBy, pSortOn = ViewBag.SortOn }
                        )
                    </th>
                    <th>
                        @Html.ActionLink(
                            @Html.DisplayNameFor(m => m.size),
                            "Index",
                            new { sortOn = "size", orderBy = ViewBag.OrderBy, pSortOn = ViewBag.SortOn }
                        )
                    </th>
                    <th>
                        @Html.ActionLink(
                            @Html.DisplayNameFor(m => m.link),
                            "Index",
                            new { sortOn = "link", orderBy = ViewBag.OrderBy, pSortOn = ViewBag.SortOn }
                        )
                    </th>
                    
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var item in Model)*@
                @foreach (var item in ViewBag.banners)
                {
                    <tr class="text-center">
                        <!-- Aqui van los elementos -->

                        <td class="text-center">
                            <img class="rounded-circle" src="@item.image" alt="@item.image" style="width:100px"/>
                        </td>

                        <td class="text-start small">@item.Name</td>
                        <td class="text-start small">@item.Description</td>                    
                        <td class="text-start small">@item.size</td>
                        <td class="text-start small">@item.link</td>

                        <!-- Aqui van las acciones CRUD -->
                        <td class="text-start d-flex">
                            <a class="btn btn-outline-primary btn-sm col-5" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                            <a class="btn btn-outline-info btn-sm col-5" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i> Details</a>
                            <a class="btn btn-danger text-white btn-sm col-5" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Delete</a>
                        </td>
                    </tr>
                }
                <div class="row">
                    <div class="pagination pagination-sm justify-content-center">
                        @Html.PagedListPager(
                            (IPagedList)ViewBag.banners,
                            page => Url.Action(
                                "Index",
                                "Banner",
                                new
                                {
                                    page,
                                    sortOn = ViewBag.SortOn,
                                    orderBy = ViewBag.OrderBy,
                                    pSortOn = ViewBag.SortOn
                                }
                                ),
                            new PagedListRenderOptions()
                            {
                                UlElementClasses = new[] { "pagination" },
                                ContainerDivClasses = new[] { "pagination-container" },
                                LiElementClasses = new string[] { "page-item" },
                                PageClasses = new string[] { "page-link" }
                            }
                            )
                    </div>
                </div>

            </tbody>
            <tfoot>
                @await Html.PartialAsync("_CreateItem", "Banner")
            </tfoot>
        </table>    
    </div>
</div>